@import '~ngx-prime-theme/theme/_colors.scss';
/deep/.rulesDetailsMenu.menu-overlay.arrowtopbox.font12.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-menu-dynamic.ui-shadow {
    width: 12%;
}

.overFlowIcon {
    background: none;
    border: none;
}

.overFlowIcon:hover {
    color: $blue;
    cursor: pointer;
}

.overFlowIcon:focus {
    outline: none;
}

.overFlowIconFont {
    font-size: 16px !important;
}

.attachment-container {
    border-bottom: 1px solid $grey;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.reset-color {
    color: $blue;
    cursor: pointer;
    border:0px;
    text-decoration: none;
    position: relative;
    top: 6px;
    background-color: $white;
    padding: 0px;
}
.textwrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textColor {
    color: $grey-dark66;
}

.rulesAccordian {
    .ui-table-caption.ui-widget-header.ng-star-inserted {
        padding-bottom: 0px;
        min-height: 45px;
    }
    /deep/.ui-table {
        border-radius: unset !important;
        border: 1px solid $grey-lite48;
        box-shadow: none;
    }
}

.rulesDetailedViewWrapper {
    /deep/.ui-accordion .ui-accordion-content-wrapper {
        margin-bottom: 10px !important;
    }
    /deep/.ui-table {
        border: 1px solid $grey-lite48;
        box-shadow: none;
    }
    /deep/.ui-table-caption.ui-widget-header.ng-star-inserted {
        padding-left: 10px;
    }
}

.loader {
    position: fixed !important;
    z-index: 888888888;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.top0 {
    top: 0px !important;
}

.wordBreak {
    word-break: break-all;
}

.contractTable {
    /deep/.ui-table-thead>tr>th:first-child {
        width: 50% !important;
    }
    /deep/.ui-table-tbody>tr>td:first-child {
        width: 50% !important;
    }
}

.sectionTable {
    /deep/.ui-table-thead>tr>th:nth-child(2) {
        width: 40% !important;
    }
    /deep/.ui-table-tbody>tr>td:nth-child(2) {
        width: 40% !important;
    }
    /deep/.ui-table-thead>tr>th:first-child {
        width: 20% !important;
    }
    /deep/.ui-table-tbody>tr>td:first-child {
        width: 20% !important;
    }
}

.rules-breadcrumb {
    /deep/ li.ui-breadcrumb-chevron.pi.pi-chevron-right.ng-star-inserted {
        vertical-align: bottom !important;
    }
}

.attachbor {
    border-block-end: 1px solid $grey-lite48;
}

.txt {
    text-align-last: right;
}

.txtleft {
    text-align-last: left;
}

.nodecor {
    text-decoration: none;
}

.pad-left60 {
    padding-left: 60px !important;
}

.padDate {
    padding-left: 80px !important;
}

.padAddedBy {
    padding-left: 120px !important;
}
.textArea {
    min-height: 140px;
    margin-top: 15px;
    padding-left: 0px;
    padding-top: 0px;
    resize: none;
    border-color: $white;
    width: 100%;
}

.mar-left0 {
    margin-left: 0px;
}

.ruleDetailedViewscroll {
    height: calc(100vh - 200px) !important;
    overflow: auto;
}
.docTextDiv {
    font-weight: bold;
    font-size: 1.1em;
}