@import "~ngx-prime-theme/theme/_colors.scss";
@import "~ngx-prime-theme/theme/_typography.scss";
.displaymiddle {
    height: 57vh;
    padding-top: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.emptyMsgText {
    @include getTypographyStyles("display3");
    color: $grey-dark27;
}

.custom-line-height {
    line-height: 3rem;
}

.display-middle {
    position: relative;
    text-align: center;
    display: block;
    top: 40%;
}

.buttonStyle {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: $grey;
}

.filterColor {
    color: $blue;
    outline: none;
    cursor: pointer;
}
.alignPos{
    position: absolute;
    right:103px;
}
.buttonStyle:hover {
    color: $blue;
}
.table-caption {
    min-height: 30px;
}
.filterClass {
    /deep/ .ui-button-primary {
        margin-top: -2px;
    }
    /deep/ .ui-table .ui-paginator-bottom.ui-paginator {
        max-height: 60px;
    }
    /deep/ .ui-table .ui-table-caption.ui-widget-header {
        border-bottom: 1px solid $grey-lite70 !important;
        padding: 10px 0px 10px 15px !important;
        max-height: 60px;
    }
    /deep/.tableWrapper .ui-table-scrollable-body {
        min-height: calc(100vh - 429px) !important;
        border-bottom: 1px solid #efefef;
    }
    /deep/.ui-table-scrollable-body {
        max-height: calc(100vh - 450px) !important;
    }
    /deep/.tableSplitWrapper .ui-table-scrollable-body {
        min-height: calc(100vh - 335px) !important;
    }
    /deep/.ui-table-caption {
        border-bottom: 1px solid $grey-lite70 !important;
    }
    /deep/.ui-table-scrollable-footer-table {
        width: 100% !important;
    }
}
.noresultHeight {
    /deep/.tableWrapper .ui-table-scrollable-body {
        min-height: calc(100vh - 328px) !important;
    }
}
.tableHeading {
    @include getTypographyStyles("h2");
}

.message-wrapper {
    height: calc(100vh - 375px);
    @include getTypographyStyles("h2");
    color: $grey-dark27;
    padding-top: 0;
}

.textwrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tableFooter {
    max-height: 60px !important;
}

.th-width {
    width: 120px;
}

.td-width {
    width: 130px;
}

.newLine {
    white-space: pre;
}

.table-heading {
    @include getTypographyStyles("h6");
}

.loader {
    position: fixed !important;
    z-index: 888888888;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.table-header {
    @include getTypographyStyles("h6");
    color: $grey-dark66;
}

.ratingRuleListTable /deep/.ui-table-scrollable-wrapper /deep/.ui-table-scrollable-view {
    /deep/.ui-table-scrollable-header-table,
    /deep/.ui-table-scrollable-body-table {
        min-width: 800px;
    }
    /deep/.ui-table-scrollable-header /deep/.ui-sortable-column,
    /deep/.ui-table-scrollable-body /deep/.ui-table-scrollable-body-table td {
        width: 100%;
    }
}
/deep/.page-scroll.ui-g-12 .ratingRuleListTable /deep/.ui-table-scrollable-wrapper /deep/.ui-table-scrollable-view {
    /deep/.ui-table-scrollable-header-table,.ui-table-scrollable-body-table {
        width: 100% !important;
    }
}
.align-title {
    text-align: center;
    position: relative;
    top: 2px;
}
.align-icon {
    text-align: center;
    position: relative;
    top: 3px;
}
.grid-icons {
    display: inline-block;
}
.filter-menu-icon {
    padding: 7.5px 14px;
}
.icon-button {
    font-size: 16px;
    height: 16px;
}
.search-box {
    width: 254px;
    top: 2px;
}
.ui-inputgroup>.ui-inputtext:not(:last-child) {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-right: 1px solid #c9c9c9;
}

.ui-inputgroup>.ui-inputtext.ng-invalid.ng-touched,
.ui-inputgroup>.ui-inputtext.ng-invalid.ng-touched:active,
.ui-inputgroup>.ui-inputtext.ng-invalid.ng-touched:focus,
.ui-inputgroup>.ui-inputtext.ng-invalid.ng-touched:hover,
.ui-inputgroup>.ui-inputtext.ng-invalid.ng-touched:focus-within {
    border-right-color: #cc2d24;
}

.ui-inputgroup>.ui-inputtext:focus,
.ui-inputgroup>.ui-inputtext:hover {
    border-right-color: #007dba;
}
