@import "~ngx-prime-theme/theme/_typography.scss";
@import "~ngx-prime-theme/theme/_colors.scss";

.split-container {
  height: 100%;
  border-radius: 6px;
  background-color: $white;
  .split-header {
    height: 60px;
    border-bottom: solid 1px $grey-lite70;
    .title {
      top: 15px;
      padding: 10px;
      position: relative;
      color: $grey-dark66;
      @include getTypographyStyles("h2");
    }
    .close-position {
      float: right;
      margin: 15px;
    }
  }
  .split-body {
    width: 100%;
    padding: 20px 10px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 408px);
  }
  .split-footer {
    height: 60px;
    position: relative;
    border-top: solid 1px $grey-lite70;
  }
}

.data {
  width: 100%;
  padding: 15px 1px 20px 8px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 400px);
}

.noData {
  width: 100%;
  padding: 20px 10px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100vh - 397px);
}

.width100 {
  width: 100%;
}

.leftPlace {
  left: 32px;
}

.noresize {
  resize: none;
}

.display-line {
  display: inline-block;
}

.width10 {
  width: 10px;
}

/deep/.expire-date {
  left: unset !important;
  right: 0 !important;
}

.labelPlacement {
  top: -0.75em !important;
}

.spanIdClass {
  margin-left: 10px;
  line-height: 30px;
}

.ui-float-label .ui-inputwrapper-focus ~ label.leftPlace,
.ui-float-label .ui-inputwrapper-filled ~ label.leftPlace {
  left: 0.5em;
}

.disablecheckbox {
  pointer-events: none;
}

.loader {
  position: fixed !important;
  z-index: 888888888;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.contract-custom-cls {
  /deep/.tableWrapper .ui-table-scrollable-body {
    min-height: calc(100vh - 400px) !important;
  }
  /deep/.tableSplitWrapper .ui-table-scrollable-body {
    min-height: calc(100vh - 332px) !important;
  }
  /deep/.ui-table-tfoot {
    border-top: 1px solid $grey-lite70 !important;
  }
  /deep/.ui-table-caption {
    border-bottom: 1px solid $grey-lite70 !important;
    padding: 10px;
  }
  /deep/.ui-table-scrollable-footer-table {
    width: 100% !important;
  }
}

.checkbox-column {
  text-overflow: clip !important;
  -ms-text-overflow: clip !important;
}

.drop-down-float {
  label {
    margin-top: 0px !important;
    top: 30%;
    left: 17px;
  }
  .ui-inputwrapper-focus ~ label,
  .ui-inputwrapper-filled ~ label {
    top: calc(-0.75em - 3px);
    left: 15px;
    font-size: 12px;
  }
  .ng-valid ~ label {
    top: calc(-0.75em - 3px);
    left: 15px;
    font-size: 12px;
  }
}
.date-field-float {
  label {
    margin-top: 0px !important;
    top: 28%;
    left: 34px;
  }
  .ui-inputwrapper-focus ~ label {
    top: calc(-0.75em - 3px);
    left: 15px !important;
    font-size: 12px;
  }
  .ui-inputwrapper-filled ~ label {
    top: calc(-0.75em - 3px);
    left: 15px !important;
    font-size: 12px;
  }
  /deep/.ui-datepicker {
    z-index: 9999 !important;
  }
}

.text-field-float {
  label {
    margin-top: 0px !important;
    top: 30%;
    left: 17px;
  }
  input.ui-state-filled ~ label,
  input:focus ~ label {
    top: calc(-0.75em - 3px);
    left: 15px;
    font-size: 12px;
  }
}
.typeahead-float-nested-label {
  margin-top: 17px;
  label {
    margin-top: 0px !important;
    top: 28%;
    left: 12px;
  }
  textarea.ui-state-filled ~ label,
  textarea:focus ~ label {
    top: calc(-0.75em - 6px);
    left: 10px;
    font-size: 12px;
  }
}

.space-around-fields{
  margin-top: 12px !important;
  padding: 5px 5px 2px 5px;
}

/deep/.textarea-float
  textarea:not(:focus):not(.ui-state-filled):not(:-webkit-autofill)
  ~ label:not(.char-limit) {
  top: 0.5em !important;
}

.footer-part {
  position: fixed;
  bottom: 3%;
  right: 2%;
}

/deep/ .ui-table-scrollable-header-table, /deep/ .ui-table-scrollable-body-table{
  min-width: 100% !important;
}

/deep/ .ui-growl-message {
  word-break: break-all;
}