@import "~ngx-prime-theme/theme/_typography.scss";
@import "~ngx-prime-theme/theme/_colors.scss";
.headingAlign {
    margin-top: 0 !important;
}

.documentationLevel /deep/ .ui-button.ui-widget.ui-state-default.ui-button-text-only.ng-star-inserted {
    width: 33.33% !important;
}

.breadCrumbList /deep/ .ui-breadcrumb.ui-widget.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    padding-bottom: 0px;
}

.width_value /deep/ .ui-calendar.ui-calendar-w-btn .ui-inputtext {
    width: 100%;
}
.width_value /deep/ .ui-autocomplete .ui-inputtext {
    width: 100%;
}
.labelAlign {
    padding-left: 8px !important;
}

.date-field-float-eff {
    margin-top: 17px;
    label {
        margin-top: 0px !important;
        top: 27%;
        left: 37px !important;
    }
    .ui-inputwrapper-focus~label {
        top: calc(-0.65em - 2px);
        left: 10px !important;
        font-size: 12px;
    }
    .ui-inputwrapper-filled~label {
        top: calc(-0.75em - 3px);
        left: 10px !important;
        font-size: 12px;
    }
}

.date-field-float-exp {
    margin-top: 17px;
    label {
        margin-top: 0px !important;
        top: 27%;
        left: 37px !important;
    }
    .ui-inputwrapper-focus~label {
        top: calc(-0.65em - 2px);
        left: 15px !important;
        font-size: 12px;
    }
    .ui-inputwrapper-filled~label {
        top: calc(-0.75em - 3px);
        left: 15px !important;
        font-size: 12px;
    }
}

.currency {
    .ui-inputwrapper-filled~label,
    .ui-inputwrapper-focus~label {
        position: absolute !important;
        top: -4px !important;
        left: 10px !important;
    }
}

.footer {
    padding: 40px 20px;
}

.errorHeight {
    height: 18px;
}

.ratesCalendar {
    .errorMsg /deep/ .ui-calendar.ui-calendar-w-btn .ui-inputtext {
        border-color: #cc2d24 !important;
        background-color: #faeae9;
    }
}

.documentationLevel /deep/ .ui-selectbutton.ui-buttonset.ui-widget.ui-corner-all {
    width: 85% !important;
}

.accordionHeight {
    min-height: calc(100vh - 279px);
    /deep/ .ui-accordion .ui-accordion-content-wrapper .ui-accordion-content {
        margin-bottom: 15px;
    }
}

.fieldWidth /deep/.ui-dropdown.ui-widget.ui-state-default.ui-corner-all.ui-helper-clearfix {
    width: 100% !important;
}

.groupNameError {
    top:38%;
}
.groupNameWidth {
    width: 100% !important;
    /deep/ span.ui-autocomplete.ui-widget.ui-autocomplete-dd{
        width: 100%;
    }
}

.chargeAlign {
    position: absolute;
    top: 24px;
    left: 16px;
}
.customerNameAlign {
    position: absolute;
    top:24px;
}
.setWidth {
    width: 100%;
}

.iconColor {
    color: $primary-blue;
}

.icon-align {
    vertical-align: middle;
}

.accordionIcon /deep/ span.ui-accordion-toggle-icon.pi.pi-fw.pi-caret-down {
    bottom: 1px !important;
}

.align-error-panel {
    margin-top: -10px;
}

.errorMsgAlign /deep/.ui-messages ul {
    padding: 0.2rem 2rem 0 !important;
}

.loader {
    position: fixed !important;
    z-index: 888888888;
    top: 100px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}