.button-border {
    border: none !important;
}

.ui-float-label {
    margin-top: 17px;
}

.config-buttons-margin {
    margin: 50px 0 20px 0;
}
.wrapper {
    padding: 0 0.5em;
}

.footer-part {
    position: fixed;
    bottom: 3%;
    right: 2%;
}