@import "~ngx-prime-theme/theme/_typography.scss";
@import "~ngx-prime-theme/theme/_colors.scss";
.clearFix {
    clear: both;
}
.text-gray {
    color: $grey-dark27;
}
.displayBlock {
    display: block;
}
.displayInline {
    display: inline;
}
/deep/ .input_switch .ui-inputswitch.ui-widget.ui-widget-content.ui-corner-all {
    background-color: $grey-dark27;
}
/deep/ .input_switch .ui-inputswitch.ui-widget.ui-widget-content.ui-corner-all.ui-inputswitch-checked {
    background-color: $black;
}
/deep/ .input_switch .ui-inputswitch:hover {
    background-color: $blue !important;
}
.carrier {
    padding: 0px !important;
}
.optional-pad{
    padding-right: 23px;
    float: right !important;
}
.width100{
    width: 100%;
}
.mar-bottom10{
    margin-bottom: 10px;
}
.bth_style{
    background:none !important;
} 

.optional-text {
    position: absolute;
    right: 10px;
    margin-top: -1.7em;
    @include getTypographyStyles("body2");
    text-transform: none;
    color: $black-opacity30;
}
.label-text{
    left: 12px;
    top: 50%;
    margin-top: -.5em;
    transition: 0.3s ease all;
    color: $grey-dark27;
    @include getTypographyStyles("body2");
    text-transform: none;
}
.parametre-label{
    float: left;
    margin-top: -3px;
    }
.float-left{
    float: left;
}

.border-align{
    margin-top: 10px;
    padding-left: 5px;
}
.typeahead-float-label {
    label {
        margin-top: 0px !important;
        top: 28%;
        left: 12px;
    }
    .ui-inputwrapper-focus~label {
        top: calc(-.75em - 6px);
        left: 10px;
        font-size: 12px;
    }
    .ui-inputwrapper-filled~label {
        top: calc(-.75em - 6px);
        left: 10px;
        font-size: 12px;
    }
  }
  
   /deep/.textarea-float textarea:not(:focus):not(.ui-state-filled):not(:-webkit-autofill) ~ label:not(.char-limit) {
      top: .5em !important;
  }
  .pad-left5{
      padding-left: 5px;
  }

  .mar-top30{
      margin-top:30px;
  }
  .pad-left20{
      padding-left:20px;
  }
  .label-align{
      width:calc(100% - 80px);
      padding-left:10px;
  }
.pad-right10{
    padding-right:10px;
}
.mar-top5{
    margin-top: 5px;
}
.pad-top10{
    padding-top:3px;
}
.pad-top18{
    padding-top:18px;
}
.calenderContainer{
    .ui-float-label > label {
        left: 32px !important;
    }
    .ui-float-label .ui-inputwrapper-focus ~ label, .ui-float-label .ui-inputwrapper-filled ~ label {
        left: 20px !important;
    }
}
.loader {
    position: fixed !important;
    z-index: 888888888;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.addTop{
    top: -.75em;
    font-size: 12px;
}
.error_Msg{
    position: relative;
    bottom: 5px;
}
/deep/.deprecated-message{
    background: $red-lite90;
    color: $red;
    display: block;
   margin: 0px 10px;
}

/deep/.deprecated-message .ui-messages-error{
    padding: 10px;
}
/deep/.deprecated-message.icon-Circle_Warning:before{
    color: $red;
    float: left;
    padding: 5px;
}
.text-name{
    text-transform: uppercase;
}
.block-class{
    display: block;
}
.checkbox-align{
    margin-right: 20px;
    margin-bottom: 15px;
}
.radioLabelFix{
     /deep/ .ui-radiobutton-label{
    padding-left: 3px;
   }
}
.pad-left0{
    padding-left: 0px;
}
.wrapper /deep/ p-breadcrumb .ui-breadcrumb ul .ui-breadcrumb-chevron {
    margin-top: 3px !important;
}
.noresize{
    resize: none;
}
.mileageLevel /deep/ .ui-selectbutton.ui-buttonset.ui-widget.ui-corner-all {
    width: 100% !important;
}

.mileageLevel /deep/ .ui-button.ui-widget.ui-state-default.ui-button-text-only.ng-star-inserted {
    width: 33.33% !important;
}
.calculated-width {
    width: -webkit-calc(100% - 10px);
    width:    -moz-calc(100% - 10px);
    width:         calc(100% - 10px);
}
.mar-right40{
    margin-right: 40px;
}
.table-caption {
    min-height: 30px;
}

/deep/.tableWrapper .ui-table-caption {
    border-bottom: 1px solid $grey !important;
}

/deep/.empty-caption .ui-table-caption.ui-widget-header.ng-star-inserted {
    border-bottom: none !important;
}

.main-content /deep/ .ui-table.ui-widget {
    box-shadow: none;
    overflow: hidden;
    border: 1px solid $grey !important;
}

.main-content /deep/.ui-table .ui-table-caption.ui-widget-header {
    border-bottom: 1px solid $grey !important;
    padding: 12px 12px 3px 11px;
}

.search-icon-holder {
    float: right;
    width: 90%;
}
.dialogWidth{
    width:425;
    min-width: 200;
}
.display-middle {
    position: relative;
    text-align: center;
    display: block;
    top: 35%;   
    padding: 10px;
    line-height: 40px;
}
.message-wrapper {
    @include getTypographyStyles("h2");
    height:230px;
    color: $grey-dark27;
    font-size:50px;
}
