@import "~ngx-prime-theme/theme/_colors.scss";
@import "~ngx-prime-theme/theme/_typography.scss";
.textAlign {
  text-align: right;
}

.header-style {
  width: calc(100% - 30px);
  display: inline-block;
  @include getTypographyStyles("body2");
  color: $grey-dark66;
  .filter-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 40px);
    float: left;
  }
}

.error-message {
  color: $grey-dark27;
}

.check-list {
  padding: 5px 0;
}

.reset-color {
  color: #007dba !important;
}
.reset-color:hover {
  color: $blue !important;
  cursor: pointer;
}

.filterOptions {
  text-decoration: none;
  color: $primary-blue;
  @include getTypographyStyles("h5");
}

.filter-wrapper {
  background: $white;
  border-radius: 5px;
  padding: 0;
  -webkit-box-shadow: 0 0 6px $grey-dark27;
  box-shadow: 0 0 6px $grey-dark27;
  border-collapse: separate;
}
.clearSearch {
  @include getTypographyStyles("body1");
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  border: 0px;
  color: $primary-blue;
}
.buttonLink {
  background-color: transparent;
  color: $blue;
  border: none;
}

.dropshadow {
  background-color: #f9f9f9;
}

.filter-scroll {
  overflow-y: scroll;
  min-height: calc(100vh - 297px);
  max-height: calc(100vh - 297px);
  padding-right: 0px;
}
.searchScrollPanel /deep/ .ui-scrollpanel-bar-x{
  display: none !important;
}

.filter-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: $white;
}

.filter-scroll::-webkit-scrollbar-thumb {
  background-color: $grey-lite48;
  outline: 1px solid $grey-lite48;
  border-radius: 5px;
}

.filter-scroll::-webkit-scrollbar-thumb:hover {
  background: $grey;
}

.pheader {
  @include getTypographyStyles("body2");
  color: $grey-dark66;
}

.main-container-wrapper .form-wrapper.showfiltercls {
  box-shadow: none;
}

.filterIconFocus > a:hover,
.overflowMenuFocus > a:hover {
  text-decoration: none;
}

.filterIconFocus:focus,
.overflowMenuFocus:focus {
  outline-color: -webkit-focus-ring-color auto 5px;
}
.date-field-float {
  margin-top: 17px;
  label {
      margin-top: 0px !important;
      top: 38%;
      left: 19px;
  }
  .ui-inputwrapper-focus~label {
      top: calc(-.75em - 3px);
      left: -4px !important;
      font-size: 12px;
  }
  .ui-inputwrapper-filled~label {
      top: calc(-.75em - 3px);
      left: -4px !important;
      font-size: 12px;
  }
}
.filter-common-style {
  /deep/ .reset-color {
    background-color: $white;
    text-decoration: none;
    color: $blue;    
    margin-bottom:5px;
    border: 0;
    z-index: 9;
    &:focus{
      border:none;
      outline: none;
    }
  }

  /deep/ .icon-Money {
    color: black;
    padding-top: 3px;
  }
  /deep/ .ui-inputgroup.ui-search-group {
    .ui-inputgroup-addon {
      position: absolute;
      z-index: 1;
    }
  }
  /deep/ .ui-autocomplete .ui-inputtext {
    padding-left: 36px !important;
  }
  .filterPanels /deep/ .ui-panel .ui-panel-content-wrapper .ui-panel-content {
    padding: 10px 20px 20px 20px;
  }

  /deep/ .ui-panel {
    border-radius: 0px !important;
  }

  /deep/ .ui-panel .ui-panel-content-wrapper {
    border-top: none;
  }

  .filterPanels /deep/ .ui-panel .ui-panel-titlebar-icon {
    float: none;
  }
  .filterPanels /deep/ ul {
    list-style-type: none;
    padding-left: 0px;
  }
}


.filter-common-style .filter-wrapper{
  float: left;
  width: 100%;
}
.effective-date /deep/.ui-datepicker{
  top:100% !important;
}

/deep/ .ui-timepicker > div a{
  padding-top: 5px;
}
.searchScrollPanel /deep/a:hover, a:active {
  text-decoration: none; 
}
.addon-error {
  span {
      border-color: #cc2d24 !important;
      background-color: #faeae9 !important;
  }
  input {
      border-color: #cc2d24 !important;
      background-color: #faeae9 !important;
      border-right: 1px solid red !important;
  }
}
.borderAlign {
  border-bottom: 1px solid #efefef;
}

.accordionHeight {
  min-height: calc(100vh - 279px);
  /deep/ .ui-accordion .ui-accordion-content-wrapper .ui-accordion-content {
      margin-bottom: none;
  }
}

:host ::ng-deep .accordionHeight .ui-accordion .ui-accordion-header:hover {
  background-color: $white;
}

:host ::ng-deep .accordionHeight .ui-accordion .ui-accordion-header {
  background-color: $white;
  border-bottom: solid 1px $grey-lite70;
  padding: 0px;
}

:host ::ng-deep .custom-accordion-segment .ui-accordion .ui-accordion-header a {
  padding-left:15px;
  .ui-accordion-toggle-icon {
    position: absolute;
    right: 5px;
    color: $primary-blue;
    top: -2px;
  }
}

.no-border {
  /deep/ .ui-accordion-header{
    border-bottom: none !important;
  }
}

.dateFilter {
  ::ng-deep .ui-accordion-content.ui-widget-content  {
    padding: 0px 15px 20px;
 }
}

