<div [ngClass]="{'sidebar-left-open': isOpen }" id="sidebar-left"
  (mouseenter)="onToggleSidebarLeft()"
  (mouseleave)="onToggleSidebarLeft()">
  <div class="nav-sidebar-header" (click)="onToggleAppDrawer()">
    Pricing
    <span id="nav-sidebar-control" class="pull-right">
      <i (click)="onLockSidebarLeft()"
      [ngClass]="getSidebarLockIcon()"
      class="hidden-xs"
      aria-hidden="true"></i>
    </span>
  </div>
  <app-aside-nav></app-aside-nav>
  <div class="tos-footer" *ngIf="isOpen">
      <span class="terms-service">Terms of Service&nbsp;&nbsp;<a>Privacy policy</a></span><br>
      <span class="copyright">&copy; 2018 J.B. Hunt Transport, Inc</span>
  </div>
</div>
