<div [ngClass]="{'loader': standardModel?.isPageLoaded}" [appJbhLoader]="standardModel?.isPageLoaded"></div>

<div class="mar-left10 breadcrumb">
  <p-breadcrumb styleClass="pad-left10" [model]="standardModel.breadCrumbList"></p-breadcrumb>
  <div class="ui-g">
    <div class="ui-md-12 ui-lg-12 ui-g-12 wrapper pad-left10 mar-top10">
      <h1 class="text-uppercase mar0 standardNameText">Standards </h1>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="ui-g-12 ui-lg-12 ui-md-12 tableAlign mar-top10">
    <p-dropdown class="ui-g-2 ui-lg-2 ui-md-2" [(ngModel)]="standardModel.detailType"
      [options]="standardModel.detailsList" name="detailList" [autoWidth]="false"></p-dropdown>

    <span class="ui-g-10 accessorialTab" *ngIf="standardModel.isShowAccessorialFlag">
      <p-tabView (onChange)="onTabChange($event)" [activeIndex]="standardModel.accessTabIndex">
        <p-tabPanel header="Rates" *ngIf="standardModel.isShowAllTab">
        </p-tabPanel>
        <p-tabPanel header="Documentation" *ngIf="standardModel.isShowDocumentationTab">
        </p-tabPanel>
        <p-tabPanel header="Rules" *ngIf="standardModel.isShowAllTab">
        </p-tabPanel>
        <p-tabPanel header="Emails" *ngIf="standardModel.isShowAllTab">
        </p-tabPanel>
      </p-tabView>
    </span>
  </div>
  <div class="ui-g-12 ui-lg-12 ui-md-12 div-height">
    <div *ngIf="standardModel.isShowAccessorialFlag">
      <app-standard-accessorial [accessorialType]="standardModel.accesorialType"></app-standard-accessorial>
    </div>
  </div>
</div>