.label-text{
    color: #939393;
    font-family: "Helvetica Neue LT Pro 55 ROMAN", Helvetica, Arial, Sans-Serif;
    font-size: 0.75rem;
    letter-spacing: 0.01rem;
    text-transform: none;
}
.footer-part {
    position: fixed;
    bottom: 3%;
    right: 2%;
}
