@import "~ngx-prime-theme/theme/_typography.scss";
@import "~ngx-prime-theme/theme/_colors.scss";
.breadCrumbList /deep/ .ui-breadcrumb.ui-widget.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    padding-bottom: 0px;
}
.headingAlign {
    margin-top: 0 !important;
}
.ruleType /deep/ {
    .ui-dropdown,
    .ui-float-label {
        width: 100% !important;
    }
}
.breadcrumb {
    /deep/ li.ui-breadcrumb-chevron.pi.pi-chevron-right.ng-star-inserted {
        vertical-align: bottom !important;
    }
}
.date-field-float-eff {
    margin-top: 15px;
    label {
        margin-top: 0px !important;
        top: 27%;
        left: 32px !important;
    }
    .ui-inputwrapper-focus~label {
        top: calc(-0.65em - 2px);
        left: 10px !important;
        font-size: 12px;
    }
    .ui-inputwrapper-filled~label {
        top: calc(-0.75em - 3px);
        left: 10px !important;
        font-size: 12px;
    }
}

.date-field-float-exp {
    margin-top: 15px;
    label {
        margin-top: 0px !important;
        top: 27%;
        left: 37px !important;
    }
    .ui-inputwrapper-focus~label {
        top: calc(-0.65em - 2px);
        left: 15px !important;
        font-size: 12px;
    }
    .ui-inputwrapper-filled~label {
        top: calc(-0.75em - 3px);
        left: 15px !important;
        font-size: 12px;
    }
}

.ruleLevel /deep/ .ui-selectbutton.ui-buttonset.ui-widget.ui-corner-all {
    width: 100% !important;
}

.ruleLevel /deep/ .ui-button.ui-widget.ui-state-default.ui-button-text-only.ng-star-inserted {
    width: 33.33% !important;
}

.labelAligns {
    position: absolute;
    top: 23px;
}

.errorHeight {
    height: 18px;
}

.chargeAlign {
    position: absolute;
    top: 23px;
    left: 16px;
}

.ruleAlign {
    position: absolute;
    top: 23px;
    left: 10px;
}

.errorMsg /deep/ .ui-inputtext {
    border-color: #cc2d24 !important;
    background-color: #faeae9;
}

.footer {
    padding: 40px 20px;
}

.accordionHeight {
    min-height: calc(100vh - 279px);
    /deep/ .ui-accordion .ui-accordion-content-wrapper .ui-accordion-content {
        margin-bottom: 15px;
    }
}

.saveHeaderPopup {
    color: $grey-dark27;
    padding-right: 7px;
}

.duplicate-err-msg /deep/ .ui-messages ul li {
    .ui-messages-summary {
        display: inherit !important;
        margin-bottom: 6px;
        margin-left: 10px;
    }
    .ui-messages-detail {
        margin-left: 22px;
    }
}

.duplicate-err-msg /deep/ .ui-messages-close {
    color: red;
}

.duplicate-err-msg /deep/ .ui-messages .ui-messages-icon.pi.pi-times {
    font-size: 2rem !important;
}

.align-error-panel {
    margin-top: -10px;
}

.alternateChargeFont {
    color: #007dba;
    font-family: "Helvetica Neue LT Pro 65 Medium", Helvetica, Arial, Sans-Serif;
    position: absolute;
    top: -1px;
    font-size: 14px;
}

.iconColor {
    color: #007dba;
}

.alternateUndoFont {
    font-family: "Helvetica Neue LT Pro 65 Medium", Helvetica, Arial, Sans-Serif;
    top: -1px;
    font-size: 14px;
    padding-right: 12px;
}

.freeRuleSplitSave {
    font-size: 0.875rem !important;
}

.freeRuleSplitSave /deep/ .ui-splitbutton .ui-button.ui-splitbutton-menubutton {
    margin-left: 0px !important;
}

.freeRuleSavePopupContent {
    line-height: 21px;
}

.freeRuleSplitSave /deep/ .ui-splitbutton button:first-child {
    width: 145px !important;
    margin-left: 0px;
}

.freeRuleSplitSave /deep/ .ui-splitbutton .ui-menu {
    width: 100% !important;
    text-align: left;
}

.mar-right10 {
    margin-right: 10px !important;
}

.loader {
    position: fixed !important;
    z-index: 888888888;
    top: 100px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.arrivalGracePeriod {
    width: 25% !important;
}

.gracePeriod {
    /deep/ input.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.ui-autocomplete-input.ng-star-inserted {
        border-radius: 0px 6px 6px 0px;
    }
}

.arrivalPeriod {
    .ui-float-label input:focus~label,
    .ui-float-label input.ui-state-filled~label,
    .ui-float-label .ui-inputwrapper-focus~label,
    .ui-float-label .ui-inputwrapper-filled~label {
        position: absolute;
        left: 12px !important;
        top: calc(-0.55em - 2px);
    }
}

.graceAlign {
    position: absolute;
    top: 23px;
    left: 29% !important;
}