<div [ngClass]="{'loader': standardRateModel.loading}" [appJbhLoader]="standardRateModel.loading"></div>
<div class="ui-g ui-fluid contract-custom-cls rateAlign">
  <div class="ui-md-12">
    <p-table class="tableWrapper" [rows]=standardRateModel?.tableSize [rowsPerPageOptions]="[25,50,75,100]" [first]="standardRateModel?.pageStart"
      [scrollable]="true" [columns]="standardRateModel?.tableColumns" [value]="standardRateModel?.rateListValues"
      [resizableColumns]="true" [totalRecords]="standardRateModel?.gridDataLength" [lazy]="true" [pageLinks]="5"
      (onLazyLoad)="loadGridData($event)" [paginator]="standardRateModel?.paginatorFlag" [ngClass]="{ 'tableWrapper': standardRateModel?.dataFlag}"
      columnResizeMode="expand" selectionMode="single" datakey="chargeType">
      <ng-template pTemplate="caption">
        <div class="ui-g table-caption pad-bot0" *ngIf="standardRateModel?.dataFlag || standardRateModel?.searchFlag">
          <div class="ui-g-8 pad-left0">
            <span class="tableName alignHeading">Rates</span>
          </div>
          <div class="pad-bot0 ui-g-4">
            <div class="ui-inputgroup ui-md-9 ui-g-12 pad-top0 mar-top8 getGridValuesInput">
              <span class="ui-inputgroup-addon"><em class="fa fa-search"></em></span>
              <input type="text" pInputText placeholder="Search" (keyup)="searchGridRecords($event)" appShortcut="alt+s"
                class="class-jasmine-test">
            </div>
            <div class="iconsHolder ui-md-3 ui-g-12 pad-right0 pad-left10">
              <div appShortcut class="grid-icons ui-md-12 pad-right0 ">
                <button class="icon-Filter_Solid icon-button buttonStyle ui-md-5"></button>
                <button class="icon-Menu_Overflow icon-button buttonStyle ui-md-7 pad-right0"></button>
              </div>

            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup *ngIf="standardRateModel?.dataFlag">
          <col>
          <col *ngFor="let thisCol of standardRateModel?.tableColumns">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr *ngIf="!standardRateModel?.rateListValues.length  && !standardRateModel?.searchFlag">
          <td class="noInfoMessage">
            <div class="displaymiddle mar-bot20">
              <h4 class="emptyMsgText mar0 mar-bot10">No information</h4>
              <h4 class="emptyMsgText mar0 mar-bot20">was found to display</h4>
              <button type="text" (click)="onCreateRateSetup()" pButton label="Create Rate Setup" class="ui-button-primary mar-top5 mar-left5"></button>
            </div>
          </td>
        </tr>
        <tr class="pad0 mar0 table-header" *ngIf="standardRateModel?.dataFlag">
          <th class="table-header-checkbox">
            <p-tableHeaderCheckbox [ngClass]="checkBoxAlign"></p-tableHeaderCheckbox>
          </th>
          <th class="min-col-width font-bold whitespace-style" *ngFor="let thisCol of columns" [pSortableColumn]="thisCol.field"
            pResizableColumn [ngClass]="{'subcolumnBorder' : thisCol.isNotFirst === true}">
            <div *ngIf="thisCol.label==='Service Level'" class="mar0">Service</div>
            <p *ngIf="thisCol.label==='Equipment Category'" class="mar0">Equipment</p>
            <p *ngIf="thisCol.label==='Legal'" class="mar0">Documentation</p>
            <p *ngIf="thisCol.field==='rateType'" class="mar0">Rates</p>
            <p *ngIf="thisCol.field==='stepRateType'" class="mar0">Stair-Step Rates</p>
            <p *ngIf="thisCol.field==='additionalCharge'" class="mar0">Additional Charges</p>
            <p *ngIf="thisCol.label==='Quantity'" class="mar0">Alternate Charge</p>
            <span [ngClass]="{'subcolumnsColor': thisCol.isSubcolumn === true, 'subcolAlignment': thisCol.isNotFirst === true}">
              {{thisCol.label}}
            </span>

            <p-sortIcon class="sortIcon sortVal" [ngClass]="{'subColumnAlign': thisCol.isSubcolumn === true}" [field]="thisCol.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr *ngIf="!standardRateModel?.dataFlag && standardRateModel?.searchFlag">
          <td colspan="8">
            <div class="ui-md-12 ui-lg-12 message-wrapper text-gray pad-left0">
              <span class="display-middle display-3 pad-left0">No results found</span>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-data let-rowIndex="rowIndex" let-columns="columns">
        <tr [style]="{width: '50px'}" *ngIf="standardRateModel?.dataFlag">
          <td class="width20 ui-resizable-column">
            <p-tableCheckbox [ngClass]="checkBoxAlign" [value]="rowData" name="checkBox"></p-tableCheckbox>
          </td>
          <td class="mincolwidth ui-resizable-column" *ngFor="let thisCol of columns" [ngClass]="{'subcolumnBorder' : thisCol.isNotFirst === true}">
            <span *ngIf="!thisCol.isArray && data[thisCol.field]" class="capitalize-first-word" pTooltip="{{data[thisCol.field]}}"
              tooltipPosition="top" [ngClass]="{'descriptionAlign': thisCol.field === 'legal'}">{{data[thisCol.field]}}</span>
            <span *ngIf="!thisCol.isArray && !data[thisCol.field]" tooltipPosition="top" pTooltip="- -">--</span>

            <div *ngIf="thisCol.label === 'Business Unit and Service Offering'" class=" capitalize-first-word">
              <div *ngFor=" let col of data['businessService']; let k=index" pTooltip="{{data['businessService']}}"
                tooltipPosition="top">
                <span *ngIf="k<2">{{col}}</span>
              </div>
              <span *ngIf="data[thisCol.field]?.length > 2" class="pad-left2">+{{(data[thisCol.field].length - 2)}}</span>
              <span *ngIf="!data[thisCol.field]?.length" pTooltip="- -" tooltipPosition="top">-- </span>
            </div>
            <div *ngIf="thisCol.label === 'Carrier (Code)'" class=" capitalize-first-word">
              <div *ngFor=" let col of data['carrier']; let k=index" tooltipPosition="top" pTooltip="{{data['carrier']}}">
                <span *ngIf="k<2"> {{col}}
                </span>
                <span *ngIf="k==3" class="pad-left2">+{{(data[thisCol.field].length - 2)}}</span>
              </div>
              <span *ngIf="!data[thisCol.field]?.length" pTooltip="- -" tooltipPosition="top">--</span>
            </div>
            <div *ngIf="thisCol.label === 'Service Level' || thisCol.label === 'Requested Service'" class="capitalize-first-word">
        <tr class="subColumnsBackground">
          <div *ngFor=" let col of data[thisCol.field]; let k=index" pTooltip="{{data[thisCol.field]}}" tooltipPosition="top">
            <span *ngIf="k<2">{{col}}</span>
          </div>
          <span *ngIf="data[thisCol.field]?.length > 2" class="pad-left2">+{{(data[thisCol.field].length - 2)}}</span>
          <span *ngIf="!data[thisCol.field]?.length" tooltipPosition="top" pTooltip="- - ">--</span>
        </tr>
  </div>
  <div *ngIf="thisCol.isArray === true && thisCol.field === 'rateType' || thisCol.field === 'rateAmount' || thisCol.field === 'minimumAmount' || thisCol.field === 'maximumAmount' || thisCol.field === 'rounding' || thisCol.field === 'rateOperator' || thisCol.field === 'itemizedRates'"
    class="capitalize-first-word">
    <tr class="subColumnsBackground">
      <div *ngFor=" let col of data[thisCol.field]; let k=index" pTooltip="{{data[thisCol.field]}}" tooltipPosition="top">
        <span *ngIf="k<2">{{col}} </span></div>
      <span *ngIf="data[thisCol.field]?.length > 2" class="pad-left2">+{{(data[thisCol.field].length - 2)}}</span>
      <span *ngIf="!data[thisCol.field]?.length" pTooltip="- -" tooltipPosition="top">--</span>
    </tr>
  </div>
  <div *ngIf="thisCol.isArray === true && thisCol.field === 'stepRateAmount' || thisCol.field === 'fromQuantity' || thisCol.field === 'toQuantity'"
    class="capitalize-first-word" pTooltip="{{data[thisCol.field]}}" tooltipPosition="top">
    <tr class="subColumnsBackground">
      <div *ngFor=" let col of data[thisCol.field]; let k=index">
        <span *ngIf="k<2">{{col}} </span></div>
      <span *ngIf="data[thisCol.field]?.length > 2" class="pad-left2">+{{(data[thisCol.field].length - 2)}}</span>
      <span *ngIf="!data[thisCol.field]?.length" pTooltip="- -" tooltipPosition="top">--</span>
    </tr>
  </div>
  <div *ngIf="thisCol.field === 'additionalCharge' ||thisCol.field === 'additionalRateType' || thisCol.field === 'additionalRateAmount'"
    class="capitalize-first-word">
    <tr class="subColumnsBackground">
      <div *ngFor=" let col of data['additionalCharge']; let k=index">
        <span *ngIf="k<2 && data['additionalCharge']" pTooltip="{{col[thisCol.field]}}" tooltipPosition="top">{{col[thisCol.field]}}</span>
      </div>
      <span *ngIf="data['additionalCharge']?.length > 2" class="pad-left2">+{{(data['additionalCharge'].length - 2)}}</span>
      <span *ngIf="!data['additionalCharge']?.length" pTooltip="- -" tooltipPosition="top">--</span>
    </tr>
  </div>
  <div *ngIf="thisCol.field === 'customerAlternateChargeThresholdQuantity' ||thisCol.field === 'accessorialRateAlternateChargeQuantityTypeName' || thisCol.field === 'alternateChargeTypeName'"
    class="capitalize-first-word ui-resizable-column">
    <tr class="subColumnsBackground">
      <div *ngFor=" let col of data['alternateCharge']; let k=index">
        <span *ngIf="k<2 && data['alternateCharge']" tooltipPosition="top" pTooltip="{{col[thisCol.field]}}"
          tooltipPosition="top">{{col[thisCol.field]}}</span>
      </div>
    </tr>
  </div>
  <div *ngIf="thisCol.label === 'Attachments'" class="capitalize-first-word">
    <tr class="subColumnsBackground">
      <span>
        <div *ngFor=" let col of data?.attachments; let k=index">
          <p *ngIf="k<2">{{col}}</p>
        </div>
        <span *ngIf="data.attachments?.length > 2" class="pad-left2">+{{(data.attachments.length - 2)}}</span>
      </span>
      <span *ngIf="!data[attachments]" pTooltip="- - " tooltipPosition="top">--</span>
    </tr>
  </div>
  </tr>
  </ng-template>
  <ng-template pTemplate="paginatorright" class="tableFooter">
    <tr>
      <td colspan="2" *ngIf="standardRateModel?.dataFlag">
        <span class="pull-right pad-right10 pad4">
          <button type="text" pButton label="Create Standard Rate Setup" (click)="onCreateRateSetup()" class="ui-button-primary mar-top5 mar-left5"></button>
        </span>
      </td>
    </tr>

  </ng-template>
  </p-table>
</div>
</div>