<div class="ui-g ui-fluid feature-container filter-common-style">
    <div class="filter-wrapper">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 mar-top10 pad-left15 pad-bot15 filterHeader">
                <div class="ui-g-6">
                    <strong class="filter-heading">Filter By</strong>
                </div>
                <div class="ui-g-6 textAlign">
                     <button data-attr="viewagreement-section-sectionFilter-clearFilter-button" pButton class="ui-button-secondary clearSearch pad0" (click)="onClearAllFilters()">Clear
              Filters
            </button>
                </div>
            </div>
            <div class="ui-g-12 pad0 filter-scroll filterPanels searchScrollPanel sectionsFilterPanel">
              <div class="accordionHeight custom-accordion-segment">
                <p-accordion [multiple]="true" class='accordian-container'>
                 <p-accordionTab data-attr="viewagreement-section-sectionFilter-section-accordionTab" class="nopadding dateFilter boxshadow-white"  [(selected)]="isSectionAccordianOpened" [ngClass]="{'no-border': isSectionAccordianOpened}"
                         expandIcon="icon-Chevron_Down " collapseIcon="icon-Chevron_Up">
                    <p-header class="header-style ">
                        <span class="filter-title ">Section</span>
                    </p-header>
                    <app-listing-filter class='sectionFilter_icon1' #filtercomp [config]="filterConfig.sectionNameType " (itemsSelected)="onListingItemsSelected($event, 'SectionName') "></app-listing-filter>
                    <app-listing-filter class='sectionFilter_icon1' #filtercomp [config]="filterConfig.sectionType " (itemsSelected)="onListingItemsSelected($event, 'SectionType') "></app-listing-filter>
                </p-accordionTab>
                <app-listing-filter #filtercomp [config]="filterConfig.currency " (itemsSelected)="onListingItemsSelected($event,'CurrencyCode') "></app-listing-filter>
                <app-listing-filter #filtercomp [config]="filterConfig.contract " (itemsSelected)="onListingItemsSelected($event, 'ContractDisplayName') "></app-listing-filter>
                <app-listing-filter #filtercomp [config]="filterConfig.billToCodes " (itemsSelected)="onListingItemsSelected($event, 'BillingPartyDisplayName') "></app-listing-filter>
                <app-listing-filter *ngIf="filterModel.isStatusFilter" #filtercomp [config]="filterConfig.status" [selectedList]="filterModel.statusSelectedList" (itemsSelected)="onStatusSelected($event)" (isCollapsed)="onStatusCollapsed($event)" (resetCall)="onResetStatusFilter($event)"></app-listing-filter>
                <div class="ui-g-12 pad0 filterPanels searchScrollPanel ">
                <p-accordionTab  data-attr="viewagreement-section-sectionFilter-audit-accordionTab" class="nopadding dateFilter boxshadow-white"  [(selected)]="isAuditAccordianOpened" [ngClass]="{'no-border': isAuditAccordianOpened}" 
                    expandIcon="icon-Chevron_Down " collapseIcon="icon-Chevron_Up ">
                        <p-header class="header-style ">
                            <span class="filter-title ">Audit</span>
                        </p-header>

                        <app-listing-filter class='sectionFilter_icon1' #filtercomp [config]="filterConfig.lastUpdateProgram " (itemsSelected)="onListingItemsSelected($event, 'LastUpdateProgram') "></app-listing-filter>

                        <app-listing-filter class='sectionFilter_icon1' #filtercomp [config]="filterConfig.createdProgram " (itemsSelected)="onListingItemsSelected($event, 'CreateProgram') "></app-listing-filter>

                        <app-autocomplete-filter class='sectionFilter_icon1' #filtercomp [config]="filterConfig.createdBy " (itemsSelected)="onListingItemsSelected($event, 'CreateUser') "></app-autocomplete-filter>

                        <app-autocomplete-filter class='sectionFilter_icon1' #filtercomp [config]="filterConfig.lastUpdatedBy " (itemsSelected)="onListingItemsSelected($event, 'LastUpdateUser') "></app-autocomplete-filter>
                        <p-accordionTab [selected]="!isPanelClosed" data-attr="viewagreement-section-sectionFilter-auditCreatedOn-accordionTab" class="nopadding dateFilter"  [(selected)]="isCreatedOnAuditAccordianOpened" [ngClass]="{'no-border': isCreatedOnAuditAccordianOpened, 'pointer-events-none': !isPanelClosed}" 
                         expandIcon="icon-Chevron_Down" collapseIcon="icon-Chevron_Up">
                            <p-header class="header-style ">
                                <span class="filter-title ">Created On</span>
                            </p-header>
                            <div class="ui-g ">
                                <div class="ui-g-12 ui-float-label date-field-float ">
                                    <p-calendar data-attr="viewagreement-section-sectionFilter-auditCreatedOnDate-calendar" showIcon="true " dateFormat="mm/dd/yy " (onBlur)="onCreateDate() " [(ngModel)]="filterModel.createdOnDate " (onSelect)="onCreateDate() "></p-calendar>
                                    <label class="mar-left20 ">Date</label>
                                </div>
                            </div>
                            <div class="ui-g ">
                                <div class="ui-float-label ui-md-12 ui-g-12 date-field-float">
                                    <p-calendar data-attr="viewagreement-section-sectionFilter-auditCreatedOnTime-calendar" showIcon="true" calendarIcon="jbh-Circle_Clock"
                                     icon="icon-Circle_Clock" [timeOnly]="true" 
                                     (onClose)="onCreateTime()" (onBlur)="onCreateTime()"
                                      [(ngModel)]="filterModel.createdOnTime"></p-calendar> 
                                    <label class="mar-left20 ">Time</label>
                                </div>
                                 <button data-attr="viewagreement-section-sectionFilter-auditCreatedOnReset-button" class="icon-text-button reset-color pad-top10 " (click)="onClearDateValues( 'createdOnDate', 'createdOnTime', 'createTimestamp') ">Reset</button>
                            </div>
                        </p-accordionTab>
                        <p-accordionTab [selected]="!isPanelClosed" data-attr="viewagreement-section-sectionFilter-auditUpdatedOn-accordionTab" class="nopadding dateFilter boxshadow-white"  [(selected)]="isUpdatedOnAuditAccordianOpened" [ngClass]="{'no-border': isUpdatedOnAuditAccordianOpened, 'pointer-events-none': !isPanelClosed}" 
                         expandIcon="icon-Chevron_Down" collapseIcon="icon-Chevron_Up">
                            <p-header class="header-style ">
                                <span class="filter-title ">Updated On</span>
                            </p-header>
                            <div class="ui-g ">
                                <div class="ui-g-12 ui-float-label date-field-float ">
                                    <p-calendar data-attr="viewagreement-section-sectionFilter-auditUpdatedOnDate-calendar" showIcon="true " dateFormat="mm/dd/yy " (onBlur)="onUpdateDate() " #udpateOnDate (onSelect)="onUpdateDate() " [(ngModel)]="filterModel.updatedOnDate ">
                                    </p-calendar>
                                    <label class="mar-left20 ">Date</label>
                                </div>
                            </div>
                            <div class="ui-g ">
                                <div class="ui-float-label ui-md-12 ui-g-12 date-field-float ">
                                    <p-calendar data-attr="viewagreement-section-sectionFilter-auditUpdatedOnTime-calendar" showIcon="true" calendarIcon="jbh-Circle_Clock" icon="icon-Circle_Clock"
                                     (onBlur)="onUpdateTime()"
                                   [timeOnly]="true" (onClose)="onUpdateTime()" 
                                     [(ngModel)]="filterModel.updatedOnTime"></p-calendar>
                                    <label class="mar-left20">Time</label>
                                </div>
                                 <button data-attr="viewagreement-section-sectionFilter-auditUpdatedOnReset-button" class="icon-text-button reset-color pad-top10 " (click)="onClearDateValues('updatedOnDate', 'updatedOnTime', 'lastUpdateTimestamp')">Reset</button>
                            </div>
                        </p-accordionTab>
                    </p-accordionTab>

                </div>
            </p-accordion>
            </div>
            
            </div>
        </div>
    </div>