
@import "~ngx-prime-theme/theme/_typography.scss";
@import "~ngx-prime-theme/theme/_colors.scss";
/deep/.view-panel .ui-panel {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, .2);
}
.labelAligns {
  position: absolute;
  top: 23px;
}


/deep/.timeAlign .ui-timepicker {
  text-align: center;
  padding: 2.5em 0 .5em 0;
}
